<div *ngIf="!submitted">
  <h2>Post a Problem</h2>

  <div class="form-group">
    <mat-form-field class="example-full-width">
      <mat-label>Seeker Name</mat-label>
      <input
        matInput
        id="name"
        required
        [(ngModel)]="currentUser.username"
        name="name"
        disabled
      />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Posting Date</mat-label>
      <input
        matInput
        id="date"
        required
        [value]="problem.date | date : 'yyyy-MM-dd'"
        name="date"
        [disabled]="true"
      />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Problem Title</mat-label>
      <input
        matInput
        type="text"
        id="name"
        required
        [(ngModel)]="problem.title"
        name="name"
      />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Description</mat-label>
      <input
        matInput
        type="text"
        id="description"
        required
        [(ngModel)]="problem.description"
        name="description"
      />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Rewards</mat-label>
      <input
        matInput
        type="text"
        id="rewards"
        required
        [(ngModel)]="problem.rewards"
        name="rewards"
        #rewardsInput="ngModel"
        placeholder="Amount of rewards you give to the Problem Solver"
      />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Category</mat-label>
      <mat-select [(ngModel)]="problem.category">
        <mat-option *ngFor="let category of categories" [value]="category.name">
          {{ category.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div>
    <div class="submit-form">
      <div *ngIf="!submitted">
        <div id="centered-button">
          <button mat-stroked-button (click)="saveProblem()">Submit</button>
        </div>
        <div *ngIf="loading" class="loading-spinner-container">
          <mat-spinner diameter="30"></mat-spinner>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="submitted">
  <h2>Problem was submitted successfully!</h2>
  <div id="centered-button">
    <button mat-raised-button (click)="newProblem()">
      Add Another Problem
    </button>
  </div>
</div>
