<div *ngIf="viewMode; else editable">
  <div *ngIf="(currentProblem.id && showModeratorBoard) || showAdminBoard">
    <h4>Problem Details</h4>

    <div>
      <label><strong>Seeker:</strong></label> {{ currentProblem.seekerName }}
    </div>

    <div>
      <label><strong>Title:</strong></label> {{ currentProblem.title }}
    </div>

    <div>
      <label><strong>Description:</strong></label>
      {{ currentProblem.description }}
    </div>

    <div>
      <label><strong>Post Date:</strong></label>
      {{ currentProblem.date | date }}
    </div>

    <button
      mat-stroked-button
      color="primary"
      *ngIf="showModeratorBoard"
      routerLink="/problem/{{ currentProblem.id }}"
    >
      Edit Problem
    </button>
  </div>

  <div *ngIf="!currentProblem">
    <p>Please click on a Problem...</p>
  </div>
</div>

<ng-template #editable>
  <div *ngIf="currentProblem.id" class="edit-form">
    <h4>Problem</h4>
    <form>
      <div class="form-group">
        <label for="title">Title</label>
        <input
          type="text"
          class="form-control"
          id="title"
          [(ngModel)]="currentProblem.title"
          name="title"
        />
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <input
          type="text"
          class="form-control"
          id="description"
          [(ngModel)]="currentProblem.description"
          name="description"
        />
      </div>

    </form>

    <button class="badge badge-danger mr-2" (click)="deleteProblem()">
      Delete
    </button>

    <button
      type="submit"
      class="badge badge-success mb-2"
      (click)="updateProblem()"
    >
      Update
    </button>
    <p>{{ message }}</p>
  </div>

  <div *ngIf="!currentProblem.id">
    <br />
    <p>Cannot access this Problem...</p>
  </div>
</ng-template>
