<app-nav-bar
  [showAdminBoard]="showAdminBoard"
  [showModeratorBoard]="showModeratorBoard"
  [isLoggedIn]="isLoggedIn"
  (logoutClicked)="logout()"
  [username]="username"
></app-nav-bar>

<div class="container">
  <router-outlet></router-outlet>
</div>


<!-- Footer section -->
<!-- <footer class="footer bg-dark text-light">
  <div class="container">
    <div class="row">
      <div class="col-md-6"> -->
        <!-- Footer content, e.g., copyright notice, links, etc. -->
        <!-- <p>&copy; 2023 Seekver. All rights reserved.</p>
      </div>
      <div class="col-md-6 text-right"> -->
        <!-- Contact information or any other content on the right side of the footer -->
        <!-- <p>Contact: <a href="mailto:seekver@gmail.com">seekver@gmail.com</a></p>
      </div>
    </div>
  </div>
</footer> -->