<h2>Problem List</h2>
<div class="list row">
  <div class="col-md-12">
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Search by Problem Title"
        [(ngModel)]="title"
      />
      <div class="input-group-append">
        <button
          class="btn btn-outline-secondary"
          type="button"
          (click)="searchTitle()"
        >
          Search
        </button>
      </div>
    </div>
  </div>
</div>

<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef mat-sort-header class="bold-header">
      Date
    </th>
    <td mat-cell *matCellDef="let problem">{{ problem.date | date }}</td>
  </ng-container>

  <ng-container matColumnDef="category">
    <th mat-header-cell *matHeaderCellDef mat-sort-header class="bold-header">
      Category
    </th>
    <td mat-cell *matCellDef="let problem">{{ problem.category }}</td>
  </ng-container>

  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef class="bold-header">Title</th>
    <td mat-cell *matCellDef="let problem">{{ problem.title }}</td>
  </ng-container>

  <ng-container matColumnDef="descriptions">
    <th mat-header-cell *matHeaderCellDef class="bold-header">Description</th>
    <td mat-cell *matCellDef="let problem">{{ problem.description }}</td>
  </ng-container>

  <ng-container matColumnDef="rewards">
    <th mat-header-cell *matHeaderCellDef mat-sort-header class="bold-header">
      Rewards
    </th>
    <td mat-cell *matCellDef="let problem">{{ problem.rewards }}</td>
  </ng-container>

  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef class="bold-header">Action</th>
    <td mat-cell *matCellDef="let problem">
      <ng-container *ngIf="isLoggedIn; else elseBlock">
        <button
          mat-stroked-button
          [routerLink]="['/solver-application', problem.id]"
        >
          Be the Solver
        </button>
      </ng-container>
      <ng-template #elseBlock>
        <button mat-stroked-button [routerLink]="['/login']">
          Log in to be the Solver
        </button>
      </ng-template>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr
    mat-row
    *matRowDef="let row; columns: displayedColumns; let i = index"
    [class.active]="row === currentProblem"
    (click)="setActiveProblem(row, i)"
  ></tr>
</table>
<br />

<div *ngIf="loading" class="loading-spinner-container">
  <mat-spinner diameter="30"></mat-spinner>
</div>

<mat-paginator
  [pageSizeOptions]="[10, 20]"
  showFirstLastButtons
  aria-label="Select page of posted problems"
>
</mat-paginator>
<br />

<div class="col-md-8">
  <app-problem-details
    [viewMode]="true"
    [currentProblem]="currentProblem"
  ></app-problem-details>
</div>

<button
  mat-stroked-button
  color="warn"
  (click)="removeAllProblems()"
  *ngIf="showModeratorBoard || showAdminBoard"
>
  Remove All
</button>
