<div id="top-navbar">
  <nav class="navbar navbar-expand navbar-light bg-light">
    <div class="navbar-logo">
      <a href="/home">
        <img
          src="../assets/seekver-high-resolution-logo-black-on-transparent-background.png"
          alt="Seekver Logo"
        />
      </a>
    </div>

    <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
      <li class="nav-item">
        <a href="/register" class="nav-link" routerLink="register">Sign Up</a>
      </li>
      <li class="nav-item">
        <a href="/login" class="nav-link" routerLink="login">Sign In</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
      <li class="nav-item">
        <a href="/profile" class="nav-link" routerLink="profile">{{
          username
        }}</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link" (click)="onLogoutClick()">Sign Out</a>
      </li>
    </ul>
  </nav>
</div>


<nav mat-tab-nav-bar [tabPanel]="tabPanel" class="bottom-navbar">
  <a mat-tab-link [routerLink]="'home'" routerLinkActive #rla="routerLinkActive"
    >Home</a
  >
  <a
    mat-tab-link
    [routerLink]="'problem-list'"
    routerLinkActive
    #rlb="routerLinkActive"
    >Problem List</a
  >
  <a
    mat-tab-link
    [routerLink]="'post-problem'"
    *ngIf="isLoggedIn"
    routerLinkActive
    #rlc="routerLinkActive"
    >Post Problem</a
  >
  <a
    mat-tab-link
    [routerLink]="'admin'"
    *ngIf="showAdminBoard"
    routerLinkActive
    #rld="routerLinkActive"
    >Admin Board</a
  >
  <a
    mat-tab-link
    [routerLink]="'mod'"
    *ngIf="showModeratorBoard"
    routerLinkActive
    #rle="routerLinkActive"
    >Moderator Board</a
  >
  <a
    mat-tab-link
    [routerLink]="'problem-board'"
    *ngIf="isLoggedIn"
    routerLinkActive
    #rlf="routerLinkActive"
    >Problem Board</a
  >
  <a
  mat-tab-link
  [routerLink]="'application-board'"
  *ngIf="isLoggedIn"
  routerLinkActive
  #rlf="routerLinkActive"
  >Application Board</a
>
</nav>
<mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>

