/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

.loading-spinner-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
}

mat-spinner {
  width: 30px;
  height: 30px;
}

mat-spinner circle {
    stroke: grey !important;
  }
