<div class="container">
  <header class="jumbotron">
    <h1>Welcome to Seekver!</h1>
    <p class="intro">We are here to help you solve your problems.</p>
    <p class="roles">We have two main roles: Seekers and Solvers!</p>
    <p class="seeker-info">
      If you have a problem at hand and are unsure how to solve it, or you
      simply prefer someone else to handle it, you can post it here.
    </p>
    <p class="solver-info">
      For those who enjoy solving problems, you can browse the website and offer
      your assistance to others. You might even be rewarded by the Seeker for
      your service!
    </p>
  </header>
</div>
